* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e8f1f6;
}

.container {
    display: grid;
    grid-template-columns: 100px 1fr 330px;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    background: #fff;
    padding: 30px 10px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 130px;             
    height: 80px;             
    border-radius: 60% / 50%; 

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}

.logo img {
    width: 70%;               
    height: auto;
    object-fit: contain;
}

.nav-icons a {
    display: block;
    margin: 25px 0;
    font-size: 22px;
    color: #ff7b29;
}

/* Main */
.main {
    padding: 25px 40px;
    overflow-y: auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    background: white;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 300px;
}

.search-bar input {
    border: none;
    outline: none;
    margin-left: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Hero */
.hero {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.hero-left {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
}

.hero-left .blue {
    color: #3b82f6;
}

.hero-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff7b29;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.hero-image img,
.hero-promo img {
    width: 100%;
    border-radius: 15px;
}

.hero-promo {
    background: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

/* Categories */
.categories {
    margin-top: 40px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    gap: 20px;
}

.category {
    background: #fff;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    width: 110px;
}

.category img {
    width: 45px;
    margin-bottom: 10px;
}

.category.active {
    background: #ffead6;
}

/* Menu Items */
.menu-items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item-card {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.item-card img {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}

.price {
    margin-top: 10px;
    font-weight: bold;
    color: #ff7b29;
}

/* Cart */
.cart {
    background: #fff;
    padding: 30px;
    border-left: 1px solid #ddd;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

.cart-item i {
    cursor: pointer;
    color: #ff4242;
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background: #ff7b29;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}



